@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Poiret+One&display=swap');
@import './variables.scss';

* {
   padding: 0;
   margin: 0;
   box-sizing: content-box;
   &:not(button) {
      font-family: 'Gentium Basic', serif;
   }
}

body {
   min-width: 100%;
   height: 100vh;

   #root {
      height: 100%;
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }

   .container {
      height: calc(100vh - $nav-height);
      grid-column: 2 /6;
      grid-row: 2 / 6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f1f1f1;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: 'Poiret One', cursive;
   }

   button {
      width: 4rem;
      font-size: 1.1rem;
   }
}
