.logo {
   grid-column: 1;
   grid-row: 1;
}

.main-nav {
   grid-column: 2 /6;
   grid-row: 1;
   gap: 1rem;
   padding-right: 2rem;
}

.second-nav {
   padding: 0 1rem;
   grid-column: 1;
   grid-row: 2 /6;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 2rem;
}

nav {
   a {
      font-size: 1.5em;
      text-decoration: none;
      color: black;
   }

   //To select first and second nav child
   &:nth-child(-n + 2) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: $nav-height;
   }
}
